main{
	min-height: 100vh;
}

.container-text{
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-text2{
	height: 5vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image1 {
  width: 1100px;
  height: 650px;
}

.image2 {
  width: 1100px;
  height: 650px;
}

.image3 {
  width: 1100px;
  height: 650px;
}


.icon {
  width: 50px;
  height: 50px;
}