main{
	min-height: 100vh;
}

.container-text{
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-text2{
	height: 5vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image1 {
  width: 1100px;
  height: 650px;
}

.image2 {
  width: 1100px;
  height: 650px;
}

.image3 {
  width: 1100px;
  height: 650px;
}


.icon {
  width: 50px;
  height: 50px;
}

#moveon{
  margin-left: 5px; 
}

p{
	color: #39FF14;
}

#contacto{
	width: 900px;
	height: 450px;
	padding-bottom: 15px;
	padding-top: 15px;
}

#nombrecontacto{
	font-style: italic;
	line-height: normal;
	margin-bottom: 1rem;
	color: #39FF14;
}

.container-contacto{
	display: flex;
	justify-content: center;
	align-items: center;
}

#thColor{
	color: #39FF14;
}

